<html>
    <head>
        <title>$action.getText("license.installation.title", [$action.pluginName])</title>
    </head>
    <body>
        <div >
            <h2>$action.getText("license.installation.currentLicense")</h2>
            #if ($licenseContent)
            
            #if ($licenseExpiring <= 30)
            	<div class="warningMacro"><p>$action.getText("license.installation.expiringWarning", [$licenseExpiring])</p></div>
            #elseif ($licenseExpiring <= 90)
            	<div class="noteMacro"><p>$action.getText("license.installation.expiringNote", [$licenseExpiring])</p></div>
            #end
            
            <table class="confluenceTable">
            <tbody>
              <tr>
                <th class="confluenceTh">
                $action.getText("license.installation.subject"):
                </th>
                <td class="confluenceTd">
                $generalUtil.escapeXml($licenseContent.subject)
                </td>
              </tr>
              #if ($licenseContent.issued)
              <tr>
                <th class="confluenceTh">
                $action.getText("license.installation.issueDate"):
                </th>
                <td class="confluenceTd">
                $dateFormatter.format($licenseContent.issued)
                </td>
              </tr>
              #end
              #if ($licenseContent.notBefore)
              <tr>
                <th class="confluenceTh">
                $action.getText("license.installation.validFrom"):
                </th>
                <td class="confluenceTd">
                $dateFormatter.format($licenseContent.notBefore)
                </td>
              </tr>
              #end
              #if ($licenseContent.notAfter)
              <tr>
                <th class="confluenceTh">
                $action.getText("license.installation.validTo"):
                </th>
                <td class="confluenceTd">
                $dateFormatter.format($licenseContent.notAfter)
                </td>
              </tr>
              #end
              <tr>
                <th class="confluenceTh">
                $action.getText("license.installation.issuer"):
                </th>
                <td class="confluenceTd">
                $licenseContent.issuer
                </td>
              </tr>
              <tr>
                <th class="confluenceTh">
                $action.getText("license.installation.holder"):
                </th>
                <td class="confluenceTd">
                $licenseContent.holder
                </td>
              </tr>
              
            </tbody>
            </table>
            
            <form method="POST" onsubmit="return confirm('$action.getText("license.installation.uninstallConfirm")')">
            <input type="submit" name="uninstall" value="$action.getText("license.installation.uninstall")"/>
            </form>
            
            #else
            <p><b>$action.getText("license.installation.noLicenseInstalled")</b></p>
            #end
       </div>
       #if ($absoluteEulaPath)
       <!-- End User Agreement --> 
       <div >
            <h2>$action.getText("license.installation.eula.title")</h2>
                $action.getText("license.installation.eula.description", [$pluginName, $absoluteEulaPath])
       </div>
       #end
       <div>
            <h2>$action.getText("license.installation.newLicense")</h2>
            #parse ( "/template/includes/actionerrors.vm" )

            <form method="POST" enctype="multipart/form-data">
				<p>$action.getText("license.installation.instructions", [$action.pluginName])</p>
				<p>
					<b>$action.getText("license.installation.licenseFile"):</b>
					<input type="file" name="licenseFile"/>
					<input type="hidden" name="install" value="$action.getText("license.installation.install")"/>
		
					<input type="submit" name="upload" value="$action.getText("license.installation.upload")"/>
				</p>
            </form>
       </div>
        #parse ( "/admin/admin-breadcrumbs.vm" )
    </body>
</html>